*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: beige;
}

.card{
    height: 400px;
    width: 270px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} 

#card1{
    z-index: 4;   
}

#card2{
    transform: translate(-50%,-50%) rotate(-7deg);
    z-index: 3;   
}

#card3{
    transform: translate(-50%,-50%) rotate(-14deg);
    z-index: 2;
}

#card4{
    transform: translate(-50%,-50%) rotate(-21deg);
    z-index: 1;
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

#card2:hover{
    z-index: 5;
}

#card3:hover{
    z-index: 5;
}

#card4:hover{
    z-index: 5;
}





